@import url("reset.css");


.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #736565;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
    background-color: rgb(194, 217, 239);
}


.image-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border-style: double;
}


.flex-item {
    text-align: center;
    margin-bottom: 10px;
}


.contact-info ul, .business-name-slogan ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2rem;
}


.contact-info li, .business-name-slogan li {
    margin-bottom: 5px;
    gap: 2rem;
}


@media (min-width: 500px) {
    .card-container {
        max-width: 500px;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .contact-info li, .business-name-slogan li {
        margin-bottom: 5px;
        gap: 2rem;
    }
    .contact-info li {
        margin-right: 10px;
    }
    .business-name-slogan {
        margin-left: 10px;
        flex-wrap: wrap;
    }
}




@media (min-width: 768px) {
    .card-container {
        flex-direction: row;
        align-items: flex-start;
        max-width: 800px;
        margin: 0 auto;
    }

    .image-container {
        margin-right: 20px;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    flex-direction: column;
}
