@import url("reset.css");

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    width: 300px; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-image: url('../images/sky.jpg'); 
    background-size: cover; /* or 'contain' */ 
    background-position: center;
    color: white;
}
.contact-container, .company-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
    border-style:double;
    margin-bottom: 20px;
    align-items: center;
    justify-items: center;
}

@media (max-width: 499px) {
    .image-container, .contact-container, .company-container {
        flex-direction: column;
        align-items: center; 
    }
    .image-container {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 500px) and (max-width: 767px) {
    .contact-container, .company-container {
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .image-container {
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 768px) {
    .contact-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 40px;
    }
    .contact-container, .company-container {
        flex-basis: 45%;
        margin-bottom: 0;
    }
    .image-container {
        width: 200px;
        height: 200px;
    }
}
